USE [master]
GO
/****** Object:  Database [CMDVOLS]    Script Date: 07/05/2015 16:42:32 ******/
CREATE DATABASE [CMDVOLS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMDVOLS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CMDVOLS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CMDVOLS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CMDVOLS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMDVOLS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMDVOLS]
GO
/****** Object:  Table [dbo].[CmdVols]    Script Date: 07/05/2015 16:42:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmdVols](
	[idCmdVol] [int] IDENTITY(1,1) NOT NULL,
	[idVol] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[nomUtilisateur] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CmdVols] PRIMARY KEY CLUSTERED 
(
	[idCmdVol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[sp_reservation_vol]    Script Date: 07/05/2015 16:42:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_reservation_vol]
	@ID_VOL int,
	@DATE date,
	@NOM_UTILISATEUR nvarchar(50)

AS
BEGIN
	INSERT INTO CmdVols(idVol, date, nomUtilisateur) VALUES (@ID_VOL, @DATE, @NOM_UTILISATEUR);
END

GO
USE [master]
GO
