USE [master]
GO
/****** Object:  Database [HOTELS]    Script Date: 07/05/2015 15:40:01 ******/
CREATE DATABASE [HOTELS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOTELS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HOTELS .mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HOTELS _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HOTELS _log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOTELS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOTELS]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 07/05/2015 15:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[idHotel] [int] NOT NULL,
	[nomHotel] [nvarchar](50) NOT NULL,
	[descriptionHotel] [nvarchar](max) NOT NULL,
	[ville] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[idHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[sp_hotel_byId]    Script Date: 07/05/2015 15:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_hotel_byId]
	@ID_HOTEL int
AS
BEGIN
    SELECT * FROM Hotels WHERE idHotel=@ID_HOTEL;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_hotels_dispos]    Script Date: 07/05/2015 15:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_hotels_dispos]
	@VILLE nvarchar(50)

AS
BEGIN
	SELECT * FROM Hotels 
		WHERE ville = @VILLE;
END

GO
USE [master]
GO
