USE [master]
GO
/****** Object:  Database [CMDHOTELS]    Script Date: 07/05/2015 16:42:11 ******/
CREATE DATABASE [CMDHOTELS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMDHOTELS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CMDHOTELS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CMDHOTELS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CMDHOTELS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMDHOTELS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMDHOTELS]
GO
/****** Object:  Table [dbo].[CmdHotels]    Script Date: 07/05/2015 16:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmdHotels](
	[idCmdHotel] [int] NOT NULL,
	[idHotel] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[nomUtilisateur] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CmdHotels] PRIMARY KEY CLUSTERED 
(
	[idCmdHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[sp_reservation_hotel]    Script Date: 07/05/2015 16:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_reservation_hotel]
	@ID_HOTEL int,
	@DATE date,
	@NOM_UTILISATEUR nvarchar(50)

AS
BEGIN
	INSERT INTO CmdHotels(idHotel, date, nomUtilisateur) VALUES (@ID_HOTEL, @DATE, @NOM_UTILISATEUR);
END

GO
USE [master]
GO
